
.box:nth-child(odd){
    display: flex;
    padding-left: 10px;
    background: #73b0cd;
    gap: 5px;
}
.box:nth-child(even){
    display: flex;
    padding-left: 10px;
    gap: 5px;
}

.img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
